@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab&display=swap');
h1{
   font-family: 'Hepta Slab', serif;
    font-size: 800%;
    color: rgb(87, 85, 85);
    text-align: center;
        background-image: url('https://i.pinimg.com/originals/52/4b/53/524b53f2e4aaa11fceec21bc19ab2cfa.jpg');    
}