<div class="card text-center">
 
  <div class="card-body">
    <h5 class="card-title">Página hecha por:</h5>
    <p class="card-text"><center>Jaime Obbed Tarango Ramírez - 4°E</center></p>
  </div>
  <div class="card-footer text-muted">
    Tarea, página dinámica aplicando hbs y Partials
  </div>
</div>

</body>

</html>